@import '../../styles/variables.scss';

.tpl-page {
  min-height: 100vh;
  background: $tpl-bg-page;
  display: flex;
  flex-direction: column;

  &__body {
    flex: 1;
    padding-bottom: calc(40rpx + env(safe-area-inset-bottom));
  }
}
